[submodule "lsquic"]
	path = lsquic
	url = https://github.com/litespeedtech/lsquic.git
[submodule "boringssl"]
	path = boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent.git
